<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Referendum Costituzionale 2016</title>
    <meta http-equiv="refresh" content="60">
    <meta name="author" content="Federico Mancinelli, Gualberto Vannini, Matteo Fiorio">
    <meta name="description" content="Referendum Costituzionale 2016, twitter #iovotosi #iovotono">

   <% include ../partials/head %>

  </head>

  <body>
  <div class="container"> <!--Container contents -->
      <!--s:logo+title -->
      <div class="header col-md-10 col-md-offset-1 col-xs-12">
        <div class="logo col-md-1 col-xs-3"><img class="img-responsive"src="../images/logo.png" alt="logo_si/no"></div>
        <div class="page_title col-md-7 col-xs-9">RIFORMA COSTITUZIONALE 2016</div>
        <div class="page_sub_title col-md-7 col-xs-9">GLI ULTIMI TWEET SUL REFERENDUM A CONFRONTO</div>

      </div>
      <!--e:logo+title -->
      <!--s:buttons -->
      <div class="twitter_col col-md-12"> <!--Main Coloumn -->
          <div class="main_title"> <!-- Bottoms Coloumn -->
                <button class="title button_y col-md-5 col-xs-6 col-md-offset-1 active">
                      <p col-xs-3>
                        #IoVotoSi <!--Bottom Text Si -->
                      </p>
                </button>
                <button class="title button_n col-md-5 col-xs-6">
                        <p col-xs-3>
                       #IoVotoNo <!--Bottom Text No -->
                      </p>
               </button>
          </div>  <!--Main title Coloumn -->
      <!--e:buttons -->

      <div class="yes_box col-md-5 col-md-offset-1 col-xs-12">  <!--s:Box container of YES twieet -->
      <!--s:tweet -->
            <% dataSx.forEach(function(dataSx) { %>

             <div class="tweet_box col-md-12 col-xs-12">
               <div class="tweet_img col-md-2 col-xs-12 text-center">
                 <img src="<%= dataSx.user.profile_image_url %>" class="img-circle img-responsive" alt="img_profile">
               </div>
               <div class="name_profile col-md-10 col-xs-12">
                 <%=dataSx.user.name %>
               </div>
                <div class="user_name col-md-5 col-xs-12">@<%= dataSx.user.screen_name %></div>
               <div class="data_tweet col-md-5 col-xs-12"><%= dataSx.created_at.substr(4, 16) %></div>

               <div class="text_tweet col-md-12 col-xs-12"><a target="_blank" href="http://www.twitter.com/<%= dataSx.user.screen_name %>/status/<%= dataSx.id_str %>"><%= dataSx.text %></a></div>
             </div>

           <% }); %>
         <!--e:tweet -->
       </div>

       <div class="no_box col-md-5 col-xs-12 onMobileHide">  <!--s:Box container of NO twieet -->
      <!--s:tweet -->
            <% dataDx.forEach(function(dataDx) { %>

             <div class="tweet_box col-md-12 col-xs-12">
               <div class="tweet_img col-md-2 col-xs-12 text-center">
                 <img src="<%= dataDx.user.profile_image_url %>" class="img-circle img-responsive" alt="img_profile">
               </div>
               <div class="name_profile col-md-10 col-xs-12">
                 <%=dataDx.user.name %>
               </div>
               <div class="user_name col-md-5 col-xs-12">@<%= dataDx.user.screen_name %></div>
               <div class="data_tweet col-md-5 col-xs-12"><%= dataDx.created_at.substr(4, 16) %></div>
               <div class="text_tweet col-md-12 col-xs-12"><a target="_blank" href="http://www.twitter.com/<%= dataDx.user.screen_name %>/status/<%= dataDx.id_str %>"><%= dataDx.text %></a></div>
             </div>

           <% }); %>
         <!--e:tweet -->
       </div>



      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <% include ../partials/google-analytics %>

  </body>

</html>
